.activity-type{
    padding: 10px 0px;
    text-align: -webkit-center;
}
.activity-type-page{
    max-width: 1200px;
}
.activity-type-title{
    width: 100%;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}
.activity-type-line{
    width: 100%;
    text-align: -webkit-center;
}
.line{
    background: #FFDB20;
    border-radius: 6px;
    height: 2px;
    width: 476px;
}
.activity-type-container{
    padding: 20px 0px;
}
.activity-type-container-detail{
    display: flex;
    padding-bottom: 40px;
}
.activity-type-container-item-img1{
    background: url(./../../public/img_activity1.png);
    background-repeat: round;
    background-size: cover;
    height: 600px;
    width: 50%;
}
.activity-type-container-item-img2{
    background: url(./../../public/img_activity2.png);
    background-repeat: round;
    background-size: cover;
    height: 600px;
    width: 50%;
}
.activity-type-container-item-img3{
    background: url(./../../public/img_activity3.png);
    background-repeat: round;
    background-size: cover;
    height: 600px;
    width: 50%;
}
.activity-type-container-item-img4{
    background: url(./../../public/img_activity4.png);
    background-repeat: round;
    background-size: cover;
    height: 600px;
    width: 50%;
}
.activity-type-container-item-text{
    width: 50%;
    text-align: initial;
}
.container-title{
    background: #FFD400;
    width: 100%;
    text-align: initial;
    height: 45px;
}
.container-title-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #000000;
    padding-left: 20px;
}
.container-title-detail-text{
    padding-left: 20px;
    padding-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.container-title-detail-depression-text{
    padding-left: 20px;
    padding-top: 25px;
}
.container-list-detail{
    list-style-type: disc;
    padding-left: 200px;
    padding-top: 25px;
}