.schedule{
  display: flex;
  padding-top: 15px;
}

.schedule-border-item{
  padding: 0px 5px;
  width: 20%;
}

.schedule-item{
  border-top: 1px solid #3D185C;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.schedule-title{
  display: flex;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.schedule-img {
  padding: 5px;
  width: 20%;
}

.schedule-league {
  width: 60%;
  text-align: center;
  padding: 5px;
  font-weight: 700;
}

.schedule-point {
  width: 20%;
  padding: 5px;
}

.schedule-container{
  display: flex;
  padding-top: 5px;
}

.schedule-container span{
  width: 70%;
  padding-left: 10px;
}

.schedule-container h4{
  text-align: right;
  width: 30%;
  padding-right: 10px;
  font-weight: 700;
}

.schedule-container-footer{
  border-top: 1px solid #e5e5e5;
  height: 20px;
  display: flex;
  background: #f7f7f7;
  height: 27px;
}

.schedule-container-footer div{
  width: 40%;
}

.schedule-container-footer svg{
  width: 20%;
}