.video{
  padding: 15px 5px;
}

.video-title{
  display: flex;
  background-color: #fcfaf6;
  padding: 10px;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}

.video-title h2{
  width: 4%;
  border-bottom: 1px solid #9f224e;
  font-size: 18px;
  font-weight: 700;
}

.video-container{
  display: flex;
  background-color: #fcfaf6;
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
}

.video-left{
  width: 70%;
}

.video-left-description{
  font-size: 24px;
  font-weight: 400;
  padding-top: 15px;
}

.video-right{
  width: 30%;
  height: 90px !important;
  padding: 0px 10px;
}

.video-right-border{
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
}

.video-right-item{
  width: 200px;
  padding-right: 10px;
}

.video-right-item iframe{
  height: 90px !important;
  padding-bottom: 10px;
}

.video-right-description{
  padding-bottom: 10px;
}